# PWB configs
user-config.py
user-password.cfg

# PWB junk
logs/
families/
apicache/
__pycache__/
throttle.ctrl
*.lwp

# Windows stuff
*.lnk

# User junk
archive/
wip */
*.log
pwb_fix_doubles_list.txt
*-narrow.txt
*-narrow.xml
*-broad.txt
*-broad.xml
